.dialogue-container {
    height: 40%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* border: purple solid 2px; */
}

.morgana-container {
    img {
        width: auto;
        height: 100%;
        object-fit: contain;
        object-position: center;

    }
}

.speech-options-container {
    /* border: red solid 2px; */
    padding: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}

.options-container {
    /* border: blue solid 2px; */
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* max-height: 100%; */
    gap: 5px;

}

button {
    border: rgb(255, 255, 255) solid 3px;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    /* padding: 5px 10px; */
}

.dialogue-button {
    padding: 5px 10px;
}

button:hover {
    border: rgb(0, 0, 0) solid 3px;
    background-color: white;
    color: rgb(0, 0, 0);
    /* transform: scale(130%, 130%); */
}

.speech-container {
    border: rgb(255, 255, 255) solid 5px;
    background: #000000b6;
    margin-bottom: 30px;
    min-height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        padding: 10px 25px;
    }
}

@media (max-width: 650px) {
    .morgana-container {
        width: 0%;
        height: 0%;
        display: none;

        img {
            width: 0%;
            height: 0%;
        }
    }

    .speech-options-container {
        width: 100%;
    }

    .speech-container {
    p {
        font-size: 20px;
    }
}
}

@media (max-height: 600px) {
    .speech-container {
        display: none;
        width: 0%;
        height: 0%;
    }
}