.dialogue-container {
    height: 40%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: purple solid 2px; */
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.morgana-container {
    img {
        width: auto;
        height: 100%;
        object-fit: contain;
        object-position: center;

    }
}

.speech-options-container {
    /* border: red solid 2px; */
    padding: 10px;
    padding-left: 0px;
    padding-bottom: 30px;
    width: 70%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}

.options-container {
    /* border: blue solid 2px; */
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* max-height: 100%; */
    gap: 5px;

}

.dialogue-button {
    border: rgb(255, 255, 255) solid 3px;
    background-color: #000000bb;
    color: white;
    padding: 5px 10px;
    font-weight: 600;
    transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease;
}

@media (hover: hover) and (pointer: fine) {
    .dialogue-button:hover {
        border-color: rgb(0, 0, 0);
        background-color: white;
        color: rgb(0, 0, 0);
    }
}

.dialogue-button:active {
    border-color: rgb(0, 0, 0);
    background-color: white;
    color: rgb(0, 0, 0);
}

.speech-container {
    border: rgb(255, 255, 255) solid 5px;
    background: #000000de;
    min-height: 150px;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        padding: 10px 25px;
        /* text-wrap: balance; */
    }
}

@media (max-width: 650px) {
    .morgana-container {
        width: 0%;
        height: 0%;
        display: none;

        img {
            width: 0%;
            height: 0%;
        }
    }

    .dialogue-button {
    font-size: 18px;
}

    .speech-options-container {
        width: 100%;
        padding: 10px;
    }

    .speech-container {
    p {
        font-size: 18px;
    }
        margin-bottom: 0px;
}
}

@media (max-height: 600px) {
    .speech-container {
    margin-bottom: 0px;
    }
}