.star-container {
    position: relative;
    width: min(100%, 620px);
    max-width: 700px;
    margin: 0 auto;
    padding-top: 8.5vh;
    pointer-events: none;
    overflow: hidden;
}

.recharts-wrapper {
    height: 100% !important;
    width: 100% !important;
}


.rank-up-logo {
    position: absolute;
    top: 52%;
    left: 55%;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center center;
    width: min(60%, 400px);
    height: auto;
    max-width: 90%;
    max-height: 90%;
    opacity: 0;
    z-index: 100;
    pointer-events: none;
}

.rank-up-logo img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.rank-up-max-logo {
    top: 54%;
    left: 51%;
    width: min(60%, 420px);
}

.rank-up-logo.animating {
    animation: logo-shrink 0.3s ease-out forwards;
    opacity: 1;
}

@keyframes logo-shrink {
    from {
        transform: translate(-50%, -50%) scale(3.33);
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}