.everything-container {
    display: flex;
    flex-direction: column;
    min-height: var(--app-height, 100vh);
    width: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 1;
     overflow: hidden;
    /* pointer-events: none; */
}

p {
    font-size: 23px;
    font-weight: 600;
}

button {
    font-size: 20px;
}

body {
    margin: 0;
    /* overflow: hidden; */
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
    max-width: 100vw;
}

.header {
    background-color: black;
    padding: 5px;
}

.activities-container {
    background-color: black;
    padding: 15px;
}

.save-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.edit-page-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}