.history-container {
  padding: 16px 20px 40px;
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
  margin-top: 55px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.history-table {
  width: 100%;
  table-layout: fixed;
  background: rgb(0, 0, 0);
}

.history-table th {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 12px;
  text-align: left;
  font-size: 22px;
  border: 3px solid #000000;
}

.history-table th:nth-child(1),
.history-table td:nth-child(1) {
  width: 120px;
}

.history-table th:nth-child(3),
.history-table td:nth-child(3) {
  width: 120px;
}

.history-table td {
  padding: 8px 12px;
}

.back-button {
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
}